.backgroundImage {
    background-image: url("./images/partyBackground.jpeg");
    width: 1200px;
    height:700px;
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin-top: -90px;
    padding:0;
    vertical-align: middle;
    z-index: 2;
}

.body {
    background-color: black;
}

.jumbotron {
    vertical-align: middle;
    background-position: center center;
    margin-top: 200px;
    z-index: 1;
    opacity: 0.6;
    background-color: none;
}

.display-4 {
    font-weight: bold;
}

.lead {
    font-weight: bold;
}